html {
    background-color: #b9d6d2;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-family: 'Helvetica';
    font-weight: 850;
}

.scoreboard {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 40px 60px;
    justify-content: center;
    font-size: 40px;


}

.player-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-decoration: underline;
    justify-self: center;
    color: white;
    font-family: 'Helvetica';
    font-weight: 600;
}

.comp-title {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-decoration: underline;
    justify-self: center;
    color: white;
    font-family: 'Helvetica';
    font-weight: 600;
}

.player-score {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    padding-top: 20px;
    display: flex;
}

.comp-score {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    padding-top: 20px;
    display: flex;
}

#message {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    color: white;
}


.score-circle {
    border: 4px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #b9d6d2;;
    -moz-border-radius: 50%;
    -webkit-border-image: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.rps-buttons {
    display: inline-block;
    height: 370px;
    margin-top: 80px;
    margin-right: 15px;
    margin-left: 15px;
    transition: transform 850ms, opacity 850ms;

}

#game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rock {
    justify-self: center;
    align-self: center;
    flex-basis: 0;
}

#paper {
    width: 500px;
    justify-self: center;
    align-self: center;
    flex-basis: 0;
 }

#scissors {
    width: 270px;
    justify-self: center;
    align-self: center;

}

.rps-buttons:hover {
    cursor: pointer;

}


#computer-img {
    height: 500px;
    display: incline-block;
}